.header {
  margin-bottom: 30px;
}

.header__title {
  margin: 0;
  text-align: center;
}

.header__logo {
  display: block;
  width: 192px;
  height: 192px;
  margin: 0 auto;
}

@media (min-width: 414px) {
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .header__title {
    text-align: left;
  }

  .header__logo {
    width: 100px;
    height: 100px;
    margin: 0 5px 0 0;
    transform: translateX(-5%);
  }

  .header__text {
    width: 100%;
  }

}