.spinner:after, .spinner:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  max-height: 0;
  margin-left: -10px;
  margin-top: 10px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.15s, visibility 0s 0.15s;
}

.spinner:after {
  background: #6cc88a;
  transform: translateX(-20px);
  animation: moveRight 0.6s linear infinite alternate;
}

.spinner:before {
  background: #4fc3f7;
  transform: translateX(20px);
  animation: moveLeft 0.6s linear infinite alternate;
}

.page-loading.spinner:after,
.page-loading.spinner:before {
  opacity: 1;
  visibility: visible;
  max-height: 20px;
  transition: opacity 0.3s, max-height 1s;
}

@keyframes moveRight {
  to {
    transform: translateX(20px);
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(-20px);
  }
}